<div class="jumbotron">
  <strong class="show-for-medium-up">Time:</strong>
  <div content="<%= data.page.when %>" itemprop="startDate">Starts <%= Time.parse(data.page.when).strftime("%B, %eth %Y %l:%M %P") %></div>
  <div content="<%= data.page.when %>" itemprop="startDate">Ends <%= Time.parse(data.page.ends).strftime("%B, %eth %Y %l:%M %P") %></div>
  <br>
  <strong class="show-for-medium-up">Location:</strong>
  <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="location">
    <% if data.config[config[:environment]][:locations][name]['url'] %>
      <div>
        <a href="<%= data.config[config[:environment]][:locations][name]['url'] %>">
          <span itemprop="name"><%= data.config[config[:environment]][:locations][name]['name'] %></span>
        </a>
          <%= data.config[config[:environment]][:locations][name]['addition'] %>
      </div>
    <% else %>
      <div><span itemprop="name"><%= data.config[config[:environment]][:locations][name]['name'] %></span>
        <%= data.config[config[:environment]][:locations][name]['addition'] %>
      </div>
    <% end %>
    <div itemprop="streetAddress"><%= data.config[config[:environment]][:locations][name]['street'] %></div>
    <div>
      <span itemprop="postalCode"><%= data.config[config[:environment]][:locations][name]['postalcode'] %></span>
      <span itemprop="addressLocality"><%= data.config[config[:environment]][:locations][name]['city'] %></span>
    </div>
    <meta content="Germany" itemprop="addressCountry">
    (<a href="<%= data.config[config[:environment]][:locations][name]['map'] %>">map</a>)
  </div>
</div>
