<!DOCTYPE html>

<html>
<%= partial "layouts/shared/head" %>
<body>

  <%= partial "layouts/shared/header" %>
  <main role="main">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2><%= title %></h2>
            <% if current_article.data.when %>
            <%= partial("layouts/shared/location", locals: {start: current_article.data.when, ends: current_article.data.ends, name: current_article.data.where}) %>
            <% end %>

            <% if !development? %>
            <div class="pull-right">
              <a href="#comments">Comments</a>
            </div>
            <% end %>
            <%= yield :layout %>

            <% prev_article = current_article.previous_article %>
            <% next_article = current_article.next_article %>
            <% if prev_article %>
              <a class="prev" href="<%= prev_article.url%>" rel="prev" title="Previous article: <%= prev_article.title%>">&laquo; <%= prev_article.title%></a>
            <% end %>
            <% if next_article %>
              <a class="next" href="<%= next_article.url%>" rel="next" title="Next article: <%= next_article.title%>"><%= next_article.title%> &raquo; </a>
            <% end %>
            <% if !development? %>
              <a href="#comments"><span id="cmtcount"></span> Comments</a>
              <div id="hashover"></div>
              <script type="text/javascript" src="/hashover.php" defer="defer"></script>
            <% end %>
          </div>
      </div>
    </div>
  </main>

  <%= partial "layouts/shared/colophon" %>

  <%= javascript_include_tag 'application' %>
  <%= yield_content :bottom %>
</body>
</html>
