<!DOCTYPE html>

<html itemscope itemtype="http://schema.org/WebPage">
<%= partial "layouts/shared/head" %>
<body>
  <%= partial "layouts/shared/header" %>
  <main>
    <%= yield :layout %>
  </main>
  <%= partial "layouts/shared/colophon" %>
  <%= javascript_include_tag 'application' %>
  <%= yield_content :bottom %>
</body>
</html>
