<!DOCTYPE html>

<html>
<%= partial "layouts/shared/head" %>
<body>
  <%= partial "layouts/shared/header" %>
  <main role="main">
    <%= yield :layout %>
  </main>
  <%= partial "layouts/shared/colophon" %>
  <%= yield_content :bottom %>
</body>
</html>
