<div class="jumbotron">
  <strong class="show-for-medium-up">Time:</strong>
  <div content="<%= data.page.when %>" itemprop="startDate">Starts <%= Time.parse(data.page.when).strftime("%B, %eth %Y %l:%M %P") %></div>
  <div content="<%= data.page.when %>" itemprop="startDate">Ends <%= Time.parse(data.page.ends).strftime("%B, %eth %Y %l:%M %P") %></div>
  <br>

    street: Neue Straße 6
    city: Berlin Tempelhof
    postalcode: 12103
    country: Germany
    url:
    map: http://bit.ly/To0yMf
    name: Matthias@Home
    addition:


  <strong class="show-for-medium-up">Location:</strong>
  <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="location">
    <div><span itemprop="name"><%= "#{name}" %></span> </div>
    <div itemprop="streetAddress">Neue Straße 6</div>
    <div>
      <span itemprop="postalCode">12103</span>
      <span itemprop="addressLocality">Berlin</span>
    </div>
    <meta content="Germany" itemprop="addressCountry">
    (<a href="http://bit.ly/To0yMf">map</a>)
  </div>
</div>
