<!DOCTYPE html>

<html>
<%= partial "layouts/shared/head" %>
<body class="<%= page_classes %>">


  <%= partial "layouts/shared/header" %>
  <main role="main">
    <div class="container">
      <div class="row">
          <div class="col-md-12">

            <h2><%= title %></h2>
            <%= partial("layouts/locations") %>
            <%= yield :layout %>
          </div>
      </div>
    </div>
  </main>

  <%= partial "layouts/shared/footer" %>
  <%= partial "layouts/shared/colophon" %>

  <%= javascript_include_tag 'application' %>
  <%= yield_content :bottom %>
</body>
</html>
