<!DOCTYPE html>

<html>
<%= partial "layouts/shared/head" %>
<body class="<%= page_classes %>">

  <%= partial "layouts/shared/header" %>

  <main role="main">
    <%= yield :layout %>
  </main>

  <%= partial "layouts/shared/footer" %>
  <%= partial "layouts/shared/colophon" %>

  <%= javascript_include_tag 'application' %>
  <%= yield_content :bottom %>
</body>
</html>
